<div class="pt-5 pb-10">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5 gap-5 items-center">
        <div class="col-span-1 md:col-span-1 lg:col-span-3">
            <p class="text-justify leading-7">
                <span class="text-4xl text-blue-800 font-medium"> Welcome </span> <span class="text-black text-base font-medium"> to
                    City Polymer BD, best sanitary & plumbing products importer & supplier in Bangladesh.
                    We are thrilled to offer you a wide range of high-quality sanitary & plumbing products for your
                    home or business needs. Our products are sourced from top manufacturers and are designed to meet
                    the highest standards of quality and durability.
                    Whether you are looking for toilets; bidet; urinals; sinks; washbasins; pedestals, pipes, fittings,
                    valves, or any other sanitary ware or plumbing products, we have got you covered. Our knowledgeable
                    staff is always ready to assist you with any questions or concerns you may have. Thank you for
                    choosing us as your plumbing products supplier!
                </span>
            </p>
        </div>
        <div class="bg-white mx-auto col-span-1 md:col-span-1 lg:col-span-2">
            <img src="../../../../assets/img/citypolymarBanner.jpeg" width="400px" height="300px"/>
        </div>
    </div>
</div>