<div class="featurs">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
        <div class="col-span-1 md:col-span-1 lg:col-span-1">
            <div class="flex flex-col items-center rounded bg-light p-4 bg-gray-100 h-full">
                <img class="w-[150px] h-[150px]" src="../../../../assets/img/shipping.svg" />
                <div class="text-center">
                    <h5 class="text-xl font-semibold leading-5 mb-2 text-stone-600" >Free Shipping</h5>
                    <p class="mb-0 text-stone-500">Free on order over $300</p>
                </div>
            </div>
        </div>
        <div class="col-span-1 md:col-span-1 lg:col-span-1">
            <div class="flex flex-col items-center rounded bg-light p-4 bg-gray-100 h-full">
                <img class="w-[150px] h-[150px]" src="../../../../assets/img/payment.svg" />
                <div class="featurs-content text-center">
                    <h5 class="text-xl font-semibold leading-5 mb-2 text-stone-600">Security Payment</h5>
                    <p class="mb-0 text-stone-500">100% security payment</p>
                </div>
            </div>
        </div>
        <div class="col-span-1 md:col-span-1 lg:col-span-1">
            <div class="flex flex-col items-center rounded bg-light p-4 bg-gray-100 h-full">
                <img class="w-[150px] h-[150px]" src="../../../../assets/img/support.svg" />
                <div class="featurs-content text-center">
                    <h5 class="text-xl font-semibold leading-5 mb-2 text-stone-600">24/7 Support</h5>
                    <p class="mb-0 text-stone-500">Support every time fast</p>
                </div>
            </div>
        </div>
    </div>
</div>
