<city-navbar [showDropShadow]="false"></city-navbar>

<div class="page-bg-info flex flex-col">
    <h1 class="text-5xl font-medium text-white">Company Profile</h1>
    <div class="flex items-center py-4 overflow-x-auto whitespace-nowrap">
        <a routerLink="/" class="text-gray-600 dark:text-gray-200">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
                <path
                    d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z" />
            </svg>
        </a>
        <span class="mx-5 text-gray-500 dark:text-gray-300">
            /
        </span>
        <a routerLink="contact-us" class="text-gray-600 dark:text-gray-200 hover:underline">
            Company Profile
        </a>
    </div>
</div>

<section class="p-4 lg:p-8  dark:text-gray-800">
    <div class="container mx-auto space-y-12">
        <div class="flex flex-col overflow-hidden rounded-md shadow-sm lg:flex-row">
            <img src="https://source.unsplash.com/640x480/?1" alt="" class="h-80 dark:bg-gray-500 aspect-video">
            <div class="flex flex-col justify-center flex-1 p-6 dark:bg-gray-50">
                <h3 class="text-3xl font-bold">Information</h3>
                <p class="my-6 dark:text-gray-600">
                    City Polymer BD is your trusted partner for all your sanitary & plumbing needs.
                    City Polymer BD starts it’s journey on 2013. We with years of industry experience,
                    we are committed to providing top-notch plumbing services in the city. Our skilled
                    team of professionals is dedicated to delivering exceptional quality workmanship,
                    ensuring complete customer satisfaction.
                </p>
                <button type="button" class="self-start">Action</button>
            </div>
        </div>
    </div>
</section>


<div class="dark:bg-gray-100 dark:text-gray-800">
    <div class="px-4 py-16 mx-auto max-w-7xl sm:px-6 lg:px-8">
        <div class="max-w-3xl mx-auto text-center">
            <h2 class="text-3xl font-extrabold sm:text-4xl">Services Offered</h2>
            <p class="mt-4 text-lg dark:text-gray-600">Pellentesque viverra, leo id euismod laoreet, nunc risus molestie
                orci, vel faucibus quam justo id mauris.</p>
        </div>
        <dl
            class="mt-12 space-y-10 sm:space-y-0 sm:grid sm:grid-cols-2 sm:gap-x-6 sm:gap-y-12 lg:grid-cols-4 lg:gap-x-8">
            <div class="flex">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                    aria-hidden="true" class="flex-shrink-0 w-6 h-6 dark:text-violet-600">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                </svg>
                <div class="ml-3">
                    <dt class="text-lg font-medium">Residential Plumbing</dt>
                    <dd class="mt-2 dark:text-gray-600">
                        We specialize in residential plumbing services, catering to homeowners and tenants alike.
                        Whether you need repairs,
                        installations, or maintenance, our expert plumbers are equipped to handle any task efficiently
                        and effectively
                    </dd>
                </div>
            </div>
            <div class="flex">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                    aria-hidden="true" class="flex-shrink-0 w-6 h-6 dark:text-violet-600">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                </svg>
                <div class="ml-3">
                    <dt class="text-lg font-medium">Commercial Plumbing</dt>
                    <dd class="mt-2 dark:text-gray-600">
                        We understand the unique plumbing requirements of commercial properties. Our team is trained to
                        handle complex plumbing systems in offices, retail spaces, restaurants, and other commercial
                        establishments. From plumbing installations to regular maintenance, we ensure smooth operations
                        for your business
                    </dd>
                </div>
            </div>
            <div class="flex">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                    aria-hidden="true" class="flex-shrink-0 w-6 h-6 dark:text-violet-600">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                </svg>
                <div class="ml-3">
                    <dt class="text-lg font-medium">Emergency Plumbing</dt>
                    <dd class="mt-2 dark:text-gray-600">Plumbing emergencies can happen at any time, causing
                        inconvenience and potential damage. That’s why we offer 24/7 emergency plumbing services. Our
                        rapid response team is always ready to address your urgent plumbing needs, minimizing downtime
                        and resolving issues promptly.</dd>
                </div>
            </div>
            <div class="flex">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                    aria-hidden="true" class="flex-shrink-0 w-6 h-6 dark:text-violet-600">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                </svg>
                <div class="ml-3">
                    <dt class="text-lg font-medium">Plumbing Repairs</dt>
                    <dd class="mt-2 dark:text-gray-600">
                        Leaky faucets, clogged drains, burst pipes – we’ve got you covered. Our skilled technicians have
                        the expertise to diagnose and repair a wide range of plumbing problems. We use advanced tools
                        and techniques to ensure long-lasting solutions and prevent future issues.
                    </dd>
                </div>
            </div>
            <div class="flex">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                    aria-hidden="true" class="flex-shrink-0 w-6 h-6 dark:text-violet-600">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                </svg>
                <div class="ml-3">
                    <dt class="text-lg font-medium">Water Heater Services</dt>
                    <dd class="mt-2 dark:text-gray-600">Is your water heater acting up? We provide comprehensive water
                        heater services, including repairs, installations, and maintenance.
                        Our team can assist you in selecting the right water heater for your needs and ensure optimal
                        performance and energy efficiency.</dd>
                </div>
            </div>
            <div class="flex">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                    aria-hidden="true" class="flex-shrink-0 w-6 h-6 dark:text-violet-600">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                </svg>
                <div class="ml-3">
                    <dt class="text-lg font-medium">Pipe and Sewer Services</dt>
                    <dd class="mt-2 dark:text-gray-600">From pipe installations to sewer line repairs, our professionals
                        are experienced in handling all types of pipe and sewer-related tasks. We employ modern
                        technologies like video inspections and trenchless repair methods to minimize disruption and
                        complete the job efficiently</dd>
                </div>
            </div>
        </dl>
    </div>
</div>


<div class="px-4 py-16 m-6 rounded-md shadow-sm dark:bg-gray-100 dark:text-gray-800">
	<h2 class="mb-8 text-4xl font-bold leading-none text-center">Why Choose City Polymer BD?</h2>
	<ul class="grid gap-3 md:grid-cols-2 lg:grid-cols-3">
		<li class="flex items-center space-x-2">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-5 h-5 fill-current dark:text-violet-600">
				<path d="M426.072,86.928A238.75,238.75,0,0,0,88.428,424.572,238.75,238.75,0,0,0,426.072,86.928ZM257.25,462.5c-114,0-206.75-92.748-206.75-206.75S143.248,49,257.25,49,464,141.748,464,255.75,371.252,462.5,257.25,462.5Z"></path>
				<polygon points="221.27 305.808 147.857 232.396 125.23 255.023 221.27 351.063 388.77 183.564 366.142 160.937 221.27 305.808"></polygon>
			</svg>
			<span>Expertise</span>
		</li>
		<li class="flex items-center space-x-2">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-5 h-5 fill-current dark:text-violet-600">
				<path d="M426.072,86.928A238.75,238.75,0,0,0,88.428,424.572,238.75,238.75,0,0,0,426.072,86.928ZM257.25,462.5c-114,0-206.75-92.748-206.75-206.75S143.248,49,257.25,49,464,141.748,464,255.75,371.252,462.5,257.25,462.5Z"></path>
				<polygon points="221.27 305.808 147.857 232.396 125.23 255.023 221.27 351.063 388.77 183.564 366.142 160.937 221.27 305.808"></polygon>
			</svg>
			<span>Timely Service </span>
		</li>
		<li class="flex items-center space-x-2">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-5 h-5 fill-current dark:text-violet-600">
				<path d="M426.072,86.928A238.75,238.75,0,0,0,88.428,424.572,238.75,238.75,0,0,0,426.072,86.928ZM257.25,462.5c-114,0-206.75-92.748-206.75-206.75S143.248,49,257.25,49,464,141.748,464,255.75,371.252,462.5,257.25,462.5Z"></path>
				<polygon points="221.27 305.808 147.857 232.396 125.23 255.023 221.27 351.063 388.77 183.564 366.142 160.937 221.27 305.808"></polygon>
			</svg>
			<span>Customer Satisfaction</span>
		</li>
		<li class="flex items-center space-x-2">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-5 h-5 fill-current dark:text-violet-600">
				<path d="M426.072,86.928A238.75,238.75,0,0,0,88.428,424.572,238.75,238.75,0,0,0,426.072,86.928ZM257.25,462.5c-114,0-206.75-92.748-206.75-206.75S143.248,49,257.25,49,464,141.748,464,255.75,371.252,462.5,257.25,462.5Z"></path>
				<polygon points="221.27 305.808 147.857 232.396 125.23 255.023 221.27 351.063 388.77 183.564 366.142 160.937 221.27 305.808"></polygon>
			</svg>
			<span>Competitive Pricing</span>
		</li>
	</ul>
</div>


<city-footer></city-footer>