<div class="bg-yellow-500">
    <div class="">
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 items-center">
            <div class="py-6 px-28">
                <h1 class="mb-6 text-4xl lg:text-6xl text-white font-bold">Lorem Ipsum is simply dummy text</h1>
                <p class="text-gray-800 font-medium  text-4xl lg:text-6xl text-dark mb-6">in Our Store</p>
                <p class="mb-6">The generated Lorem Ipsum is therefore always free from repetition
                    injected humour, or non-characteristic words etc.</p>
                <a href="#" class="btn border-2 border-white rounded-full text-dark py-3 px-8
                        hover:bg-white hover:text-yellow-500">BUY</a>
            </div>
            <div class="relative bg-cover">
                <img src="../../../../assets/img/pipe3.jpg" class="w-full h-[600px] rounded-md" alt="">
                <!-- <div class="absolute bottom-0 right-0 flex items-center justify-center bg-white rounded-full"
                    style="width: 140px; height: 140px;">
                    <h1 class="text-6xl" style="font-size: 100px;">1</h1>
                    <div class="flex flex-col ml-2">
                        <span class="text-3xl font-bold">50$</span>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>