.fact-section{
    background: 
    linear-gradient(rgb(56 56 87 / 87%) 0 0),
    url("https://assets.codepen.io/2585/sean-pollock-PhYq704ffdA-unsplash.jpg");
  background-size: cover;
  background-position: center;
}