<div class="container-fluid fact-section">
    <div class="px-12 py-28 rounded">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 justify-items-center">
            <div class="bg-white rounded-tr-lg rounded-bl-lg border-t-4 border-t-blue-600 p-5 w-full shadow-md">
                <!-- <img src="../../../../assets/img/time.svg" width="100px" height="100px"/> -->
                <h1 class="text-4xl text-black font-bold">10+</h1>
                <h4 class="text-black text-base font-medium uppercase break-words my-3">Years in Business</h4>
                <mat-icon class="float-end scale-125 text-sky-600 from-indigo-500 via-purple-500 to-pink-500">done_all</mat-icon>
            </div>
            <div class="bg-white rounded-tr-lg rounded-bl-lg border-t-4 border-t-blue-600 p-5 w-full shadow-md">
                <!-- <img src="../../../../assets/img/group-user.svg" width="100px" height="100px"/> -->
                <h1 class="text-4xl text-black font-bold">500+</h1>
                <h4 class="text-black text-base font-medium uppercase break-words my-3">Happy Customers</h4>
                <mat-icon class="float-end scale-125 text-sky-600 from-indigo-500 via-purple-500 to-pink-500">done_all</mat-icon>
            </div>
            <div class="bg-white rounded-tr-lg rounded-bl-lg border-t-4 border-t-blue-600 p-5 w-full shadow-md">
                <!-- <img src="../../../../assets/img/group-user.svg" width="100px" height="100px"/> -->
                <h1 class="text-4xl text-black font-bold">77+</h1>
                <h4 class="text-black text-base font-medium uppercase break-words my-3">Licensed Officer</h4>
                <mat-icon class="float-end scale-125 text-sky-600 from-indigo-500 via-purple-500 to-pink-500">done_all</mat-icon>
            </div> 
            <div class="bg-white rounded-tr-lg rounded-bl-lg border-t-4 border-t-blue-600 p-5 w-full shadow-md">
                <!-- <img src="../../../../assets/img/office.svg" width="80px" height="80px"/> -->
                <h1 class="text-4xl text-black font-bold">3+</h1>
                <h4 class="text-black text-base font-medium uppercase break-words my-3">Branch</h4>
                <mat-icon class="float-end scale-125 text-sky-600 from-indigo-500 via-purple-500 to-pink-500">done_all</mat-icon>
            </div>
        </div>
    </div>
</div>
